.status_content_container > .status_content > .content_container{
    width: 55%;
    padding: 10px 16px;
}
.status_content_container > .status_content > .content_container> .title{

}

.status_content_container > .status_content > .content_container > .content{
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    padding: 15px;
    margin: 10px 0 0px 0;
    border-radius: 5px;
    box-shadow: 0px 2px 1px -1px rgb(0 0 0 / 20%), 0px 1px 1px 0px rgb(0 0 0 / 14%), 0px 1px 3px 0px rgb(0 0 0 / 12%);
}

.status_content_container > .status_content > .content_container > .content > .status_infor_container{
    width: 100%;   
    height: 60vh;
    
    border-radius: 10px;
    margin: 10px 0;
}
.status_content_container > .status_content > .content_container > .content > .status_infor_container > .information_container{
    width: 100%!important;
    height: 50vh!important;
    overflow: hidden!important;
}

.status_content_container > .status_content > .content_container > .content > .status_infor_container > .information_container::-webkit-scrollbar { width: 0 !important }

.status_content_container > .status_content > .content_container > .content > .status_infor_container > .information_container:hover, 
.status_content_container > .status_content > .content_container > .content > .status_infor_container > .information_container:active, 
.status_content_container > .status_content > .content_container > .content > .status_infor_container > .information_container:focus {
    overflow-y: auto!important;
}

.status_content_container > .status_content > .content_container > .content > .status_infor_container::-webkit-scrollbar { width: 0 !important }

.status_content_container > .status_content > .content_container > .content > .status_infor_container > .per_infor{
    position: relative;
    width: 100%;
    height: 55px;
}

.status_content_container > .status_content > .content_container > .content > .status_infor_container > .per_infor > span.username {
    position: absolute;
    top: 0;
    left: 0;
}

.status_content_container > .status_content > .content_container > .content > .status_infor_container > .per_infor > span.status {
    position: absolute;
    top: 22px;
    left: 0;
    display: flex;
}

.status_content_container > .status_content > .content_container > .content > .status_infor_container > .per_infor > span.time {
    position: absolute;
    top: 0;
    right: 0;
}

.status_content_container > .status_content > .content_container > .content > .status_infor_container > .information_container > .essentials_infor{
    margin-bottom: 15px;
}

.status_content_container > .status_content > .content_container > .content > .status_infor_container > .information_container > .essentials_infor input{
    width: 100px;
    height: 30px;
    border-radius: 4px;
    border: 1px grey solid;
}
.status_content_container > .status_content > .content_container > .content > .status_infor_container h4{
    text-align: left;
    margin-bottom: 5px;
}

.status_content_container > .status_content > .content_container > .content > .status_infor_container > .information_container > .contact_infor{
    margin-bottom: 15px;
}

.status_content_container > .status_content > .content_container > .content > .status_infor_container > .information_container > .contact_infor > .contact_content{
    width: 100%;
}
.status_content_container > .status_content > .content_container > .content > .status_infor_container > .information_container > .contact_infor > .contact_content > tbody{
    width: 100%;
}
.status_content_container > .status_content > .content_container > .content > .status_infor_container > .information_container > .contact_infor > .contact_content > tbody > tr{
    width: 100%;
}

.status_content_container > .status_content > .content_container > .content > .status_infor_container > .information_container > .contact_infor > .contact_content > tbody > tr > td:nth-child(1){
    width: 32%;
    text-align: left;
}

.status_content_container > .status_content > .content_container > .content > .status_infor_container > .information_container > .contact_infor > .contact_content > tbody > tr > td:nth-child(2){
    width: 68%;
    text-align: left;
    font-size: 13px;
}

.status_content_container > .status_content > .content_container > .content > .status_infor_container > .information_container > .note_infor{
    margin-bottom: 15px;
    width: 100%;
}

.status_content_container > .status_content > .content_container > .content > .status_infor_container > .information_container > .note_infor > .note_content{
    text-align: left;
    width: 100%;
}

.status_content_container > .status_content > .content_container > .content > .status_infor_container > .information_container > .picture_infor{
    margin-bottom: 15px;
    width: 100%;
}

.status_content_container > .status_content > .content_container > .content > .status_infor_container > .information_container > .picture_infor > .img_content{
    width: 100%;
    text-align: left;
}

.status_content_container > .status_content > .content_container > .content > .btn_container{
    width: 100%;
    text-align: right;
    height: 35px;
} 

.status_content_container > .status_content > .content_container > .content > .btn_container> button{
    padding: 10px 21px;
    border: none;
    border-radius: 5px;
    color: white;
    margin-left: 15px;
}

.status_content_container > .status_content > .content_container > .content > .btn_container> button.btn_cancel{
    background-color: #EE5253;
}

.status_content_container > .status_content > .content_container > .content > .btn_container> button.btn_chat{
    background-color: #2E86DE;
}

.status_content_container > .status_content > .content_container > .content > .btn_container> button.btn_confirm{
    background-color: #009432;
}
