.header__notify {
  cursor: default;
  border-radius: 5px;
  z-index: 4;
  border: 1px solid cornflowerblue;
  padding: 0 12px;
  position: absolute;
  width: 489px;
  height: 321px;
  /* right: -57px; */
  top: 56px;
  left: -19px;
  background-color: azure;
  /* overflow: hidden; */
  /* overflow-y: scroll; */
  /* display: none; */
}
.notify-Comfirm {
}
.notify-Comfirm-title {
  margin-top: 16px;
  font-size: 1.3rem;
  margin-bottom: 0px;
}
.notify-Comfirm-item {
  border: 1px solid cadetblue;
  font-size: 1.09rem;
  border-radius: 8px;
  width: 100%;
  padding: 9px 14px;
  margin-top: -10lx;
  /* margin: -10px 0; */
  background-color: antiquewhite;
  margin-top: 8px;
  margin-bottom: 0;
}
.notify-Comfirm-item-link {
}
.notify-ListRecent {
  list-style: none;
  padding-left: 0px;
  margin-top: 9px;
}
.notify-Recent-title {
}
.notify-Recent-item {
  margin-top: 10px;
  font-weight: bold;
  font-style: oblique;
  background-color: aquamarine;
  color: black;
  font-size: 1.1rem;
  padding: 12px 7px;
  text-decoration: none;
  border-radius: 8px;
}
