.status_content_container_sender > .status_content {
    margin-top:20px;
}
.status_content_container_sender {
       /* position: absolute; */
       flex-direction: column;
       height: 100vh;
       /* min-width: 100vw; */
       display: flex;
       align-items: center;
       /* padding-top: 25px; */
       padding-top: 5px;
       width: 45%;
}
.css-1azl6jz-MuiTableCell-root{
    text-align: center;
}