.register_container{
    width: 460px;
    height: 510px;
    display: flex;
    align-items: center;
    flex-direction: column;
    /* background-color: #5352ED; */
    padding: 1%;
    overflow: hidden;
    position: absolute;
    z-index: 13;
    background: white;
    top: 4%;
    padding: 35px 0;
    border-radius: 5px;
}

.register_container:hover, 
.register_container:active, 
.register_container:focus {
    overflow-y: auto;
}

.register_container::-webkit-scrollbar { width: 0 !important }

.register_container > .title{
    width: 100%;
    height: 7%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.register_container > form{
    width: 100%;
    /* height: 85%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 13px;
}

.register_container > form > .account_infor{
    width: 100%;
    /* height: 30%; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10px;
}
.register_container > form span{
    width: 342px;
    min-width: 200px;
    height: 25px;
    display: flex;
}
.register_container > form > .account_infor> .input_username,
.register_container > form > .account_infor> .input_password,
.register_container > form > .account_infor> .input_password_again{
    width: 342px;
    min-width: 200px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px 0;
}
.register_container > form > .account_infor input[type=text],
.register_container > form > .account_infor input[type=password]{
    width: 100%;
    height: 90%;
    padding: 0 15px;
    border: 1px #E7E7E7 solid;
    border-radius: 5px;
}
.register_container> form > .input_user_infor{
    width: 100%;
    /* height: 30%; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.register_container> form > .input_user_infor > .full_name,
.register_container> form > .input_user_infor > .input_age,
.register_container> form > .input_user_infor > .input_email,
.register_container> form > .input_user_infor > .input_phone_number,
.register_container> form > .input_user_infor > .input_specific_address{
    width: 342px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px 0;
}
.register_container> form > .input_user_infor input[type=text],
.register_container> form > .input_user_infor input[type=number],
.register_container> form > .input_user_infor input[type=email]{
    width: 100%;
    height: 90%;
    padding: 0 15px;
    border: 1px #E7E7E7 solid;
    border-radius: 5px;
}

.register_container> form > .input_user_infor > .input_address{
    width: 342px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px 0;
    justify-content: space-between;
}

.register_container> form > .input_user_infor > .input_address >.input_city{
    width: 49%;
    height: 100%;
    display: flex;
    justify-content: left;
    flex-direction: column;
}

.register_container> form > .input_user_infor > .input_address >.input_district{
    width: 49%;
    height: 100%;
    display: flex;
    justify-content: right;
    flex-direction: column;
}
.register_container> form > .input_user_infor > .input_address select{
    width: 100%;
    height: 38px;
    padding: 0 10px;
    border: 1px #E7E7E7 solid;
    border-radius: 5px;
}

.register_container > form input[type=text]:focus,
.register_container > form input[type=password]:focus,
.register_container > form input[type=number]:focus,
.register_container > form select:focus{
    outline: none;
}

.register_container> form > .btn_submit{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}
.register_container> form input[type=button]{
    width: 130px;
    height: 40px;
    background-color: #F25A5A;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 13px;
    cursor: pointer;
}

.register_container > .btn_login{
    width: 100%;
    /* height: 7%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 13px;
}
.register_container > .btn_login> p{
    color: #3b3be6;
    font-size: 12px;
    cursor: pointer;
}