.content_container{
    height: 72%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}
.content_container::-webkit-scrollbar {
    width: 5px;
}
  
  /* Track */
.content_container::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
   
  /* Handle */
.content_container::-webkit-scrollbar-thumb {
    background: #888; 
}
  
  /* Handle on hover */
.content_container::-webkit-scrollbar-thumb:hover {
    background: #555; 
}
/* Sidebar links */