.Status-header {
  height: 68px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  background-color: #ddf0fe;
}
.Status-header__left {
  display: flex;
  margin-top: 0;
}

.Status-headerID {
  padding-left: 0;
  margin-top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.Status-headerID--name {
  /* font-size: 14px; */
  /* font-weight: 500; */
}
.Status-headerID--item {
  /* margin-bottom: -4px; */
}
.Status-headerID--status {
  /* người cho */
  /* color: var(--nguoinhan); */
  margin-top: 10px;
  font-size: 12px;
  font-weight: 300;
}
.Status-header__DateUpPost {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: flex-end;
}
.Status-header__Date--title {
  /* nguoi cho */
  font-size: 12px;
  font-weight: 300;
  margin-top: 10px;
}
.Status-header__date {
  font-weight: 300;
  font-size: 12px;
}
