main > .showform_auth{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
}
main > .showform_auth > .form_auth {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center
}

main > .showform_auth > .form_auth >.layout_auth {
    position: absolute;
    z-index: 11;
    width: 100%;
    height: 100%;
    background: gray;
    opacity: 0.5;
}
.support_emergency{
    position: absolute;
    bottom: 0;
    color: grey;
    left: 0;
}