.Map{
    /* position: absolute; */
    content: "";
    width: calc(100% - 430px);
    /* min-height: 800px; */
    position: relative;
}
.Map > .map-container{
    width: 100%;
    height: 100vh;
}
/* .Map .all_status_action {
    width: 85px;
    height: 32px;
    background-color: #808E9B;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 9px;
    position: absolute;
    top: 10px;
    left: 34%;
} */
.Map > .display-status-action-container {
  width: 480px  ;
  position: absolute;
  top: 80px;
  left: 30%;
  justify-content: space-around;
  display: flex;
  flex-direction: revert;
}
.Map > .display-status-action-container > .all-status-action,
.Map > .display-status-action-container > .sender-status-action,
.Map > .display-status-action-container > .receiver-status-action,
.Map > .display-status-action-container > .car_trip-status-action{
  padding: 7px 20px;
  color: white;
  border-radius: 15px;
  font-weight: 500;
  cursor: pointer;
}

.Map > .display-status-action-container > .all-status-action{
  background: #808E9B;
  /* box-shadow: rgb(0 0 0 / 7%) 0px 1px 1px, rgb(0 0 0 / 7%) 0px 2px 2px, rgb(0 0 0 / 7%) 0px 4px 4px, rgb(0 0 0 / 7%) 0px 8px 8px, rgb(0 0 0 / 7%) 0px 16px 16px; */
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.Map > .display-status-action-container > .sender-status-action{
  background: #FED330;
  /* box-shadow: rgb(0 0 0 / 7%) 0px 1px 1px, rgb(0 0 0 / 7%) 0px 2px 2px, rgb(0 0 0 / 7%) 0px 4px 4px, rgb(0 0 0 / 7%) 0px 8px 8px, rgb(0 0 0 / 7%) 0px 16px 16px; */
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.Map > .display-status-action-container > .receiver-status-action{
  background: #EE5A24;
  /* box-shadow: rgb(0 0 0 / 7%) 0px 1px 1px, rgb(0 0 0 / 7%) 0px 2px 2px, rgb(0 0 0 / 7%) 0px 4px 4px, rgb(0 0 0 / 7%) 0px 8px 8px, rgb(0 0 0 / 7%) 0px 16px 16px; */
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.Map > .display-status-action-container > .car_trip-status-action{
  background: #A3CB38;
  /* box-shadow: rgb(0 0 0 / 7%) 0px 1px 1px, rgb(0 0 0 / 7%) 0px 2px 2px, rgb(0 0 0 / 7%) 0px 4px 4px, rgb(0 0 0 / 7%) 0px 8px 8px, rgb(0 0 0 / 7%) 0px 16px 16px; */
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
