#header{
  /* border-bottom: 2.1px solid #4591e0a6; */
  /* box-shadow: rgb(99 99 99 / 20%) 0px 2px 8px 0px; */
  background-color: #b1d8fb;
  z-index: 1;
  position: fixed;
  width: 100%;
  height: 60px;

}

#header> .header-navbar{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

#header> .header-navbar > .header-navbar-left{
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: row;
}
#header> .header-navbar > .header-navbar-left > .navbar-logo{
  width: 40%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#header> .header-navbar > .header-navbar-left > .navbar-logo > .img-logo{
  width: 100px;
}

#header> .header-navbar > .header-navbar-left > .header-navbar__list{
  width: 60%;
  height: 100%;
  margin: 0 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}
#header> .header-navbar > .header-navbar-left > .header-navbar__list > .header-navbar__item{
  width: 40%;
  height: 100%;
  margin-left: 5%;
  list-style: none;
  display: flex;
  align-items: center;
}

#header> .header-navbar > .header-navbar-left > .header-navbar__list > .header-navbar__item > .header-navbar__item--link{
  width: 100%;
  list-style: none;
  font-size: 13px;
  text-decoration: none;
  color: black;
}
#header> .header-navbar > .header-navbar-left > .header-navbar__list > .header-navbar__item > .home_link{
  font-weight: 600;
  font-size: 14px;
}

#header> .header-navbar > .header-navbar-right{
  width: 70%;
  height: 100%;
  display: flex;
  justify-content: right;
  font-size: 13px;
  position: relative;
}
#header> .header-navbar > .header-navbar-right > .header-navbar__btn_login{
  width: 150px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;    
  margin-right: 20px;
}
/* #header> .header-navbar > .header-navbar-right > .header-navbar__btn_login > a{
  width: 100%;
  height: 40px;
  font-size: 13px;
  text-decoration: none;
} */
/* #header> .header-navbar > .header-navbar-right > .header-navbar__btn_login > a > .btn-dangnhap {
  width: 100%;
  height: 100%;
  color: white;
  background-color: #5352ED;
  border: none;
  border-radius: 5px;
} */
#header> .header-navbar > .header-navbar-right > .header-navbar__btn_login > button.btn-dangnhap.js-btn__login {
  width: 130px;
  height: 40px;
  border: navajowhite;
  border-radius: 5px;
  color: white;
  background-color: #5352ED;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
#header> .header-navbar > .header-navbar-right > .header-navbar-right__menu_user{
  margin-right:30px;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style: none;
}
#header> .header-navbar > .header-navbar-right > .header-navbar-right__menu_user > li{
  margin-right: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  position:relative;
}
#header> .header-navbar > .header-navbar-right > .header-navbar-right__menu_user > li > a{
  padding: 10px;
  text-decoration: none;
  color: black;
  font-size: 13px;
}

#header> .header-navbar > .header-navbar-right > .header-navbar-right__menu_user > li > .icon_new_message{
  position: absolute;
      top: 12px;
      right: 0px;
      width: 10px;
}
#header> .header-navbar > .header-navbar-right > .header-navbar-right__infor_user{
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#header> .header-navbar > .header-navbar-right > .header-navbar-right__infor_user > .header_username{
  margin-left: 3px;
}

#header> .header-navbar > .header-navbar-right > .header-navbar-right__infor_user > .header_role{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#header> .header-navbar > .header-navbar-right > .header-navbar-right__infor_user > .header_role > .header_role_circle{
  width: 20px;
  height: 20px;
}
#header> .header-navbar > .header-navbar-right > .header-navbar-right__infor_user > .header_role > .header_role_name{
  font-size: 12px;
}

#header> .header-navbar > .header-navbar-right > .header-navbar__sub_menu{
  display: flex;
  align-items: center;
  justify-content: center;
}

.header_item_layout{
  background: blue;
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: -1;
  opacity: 0;
}