.GoodDetail-container {
  width: 100%;
  height: 71vh;
  overflow: hidden;
  overflow-y: scroll;
  box-shadow: rgb(60 64 67 / 30%) 0px 1px 2px 0px,
    rgb(60 64 67 / 15%) 0px 2px 6px 2px;
}
.GoodDetail-container__title {
  color: #0000ffb8;
  padding-left: 12px;
  margin-top: 13px;
  padding: 0 19px;
}
.container__ListItems {
  position: relative;
  list-style: none;
  /* padding-left: 15px; */
  padding: 0 19px;
  margin-top: -10px;
}
.GoodDetail-container__Items {
  padding: 6px 0;
  display: flex;
  font-size: 1.2rem;
}
.GoodDetail-container__ItemQuantity {
  margin: 0;
  padding-left: 6px;
}

.GoodDetail-container__ListInfo {
  list-style: none;
  padding-left: 19px;
  margin-top: -10px;
}
.GoodDetail-Info__item {
  padding: 6px 0;
  font-size: 1.24rem;
}
.GoodDetail-Info__title {
  font-weight: bold;
  font-size: 17px;
  margin-top: 8px;
  color: #0000ffb8;
}
.GoodDetail-Info__Name {
  font-weight: 600;
}
.GoodDetail-Info__Address {
  font-weight: 600;
}
.GoodDetail-Info__Note {
  font-weight: 600;
}
/* người cho */
.GoodDetail-Info__Img {
  font-weight: 600;
}
.GoodDetail-Info__ImgSrc {
  border: 4px solid #ff6d13;
  margin-top: 8px;
  background-repeat: no-repeat;
  width: 100%;
}
/* người nhận */
.GoodDetail-Info__LichSuNhan {
  font-weight: 600;
}
.GoodDetail-Info__LichSu {
  font-weight: 500;
  margin-top: 4px;
}
.GoodDetail-Info__form-Nhan {
  border: 4px solid #ff6d13;
  margin-top: 6px;
}
/* Button bên dưới  */
.container-btn__ListBottom {
  margin-top: 18px;
  display: flex;
  justify-content: space-between;
  padding: 0px 40px;
  align-items: center;
}
.GoodDetailContainer-btn-item {
  font-size: 14px;
  /* background-color: #EE5253; */
  color: white;
  padding: 10px 20px;
  border: unset;
  margin: 0 8px;
  border-radius: 5px;
  cursor: pointer;
}
.GoodDetailContainer-btn-item + .GoodDetailContainer-btn-item {
  margin: 0px 3px;
}
.GoodDetail-btn__DKHT {
  background-color: #ee5253;
  display: none;
}
.GoodDetail-btn__Del {
  background-color: #ee5253;
  /* display: none; */
}
.GoodDetail-btn__DKNH {
  background-color: #ee5253;
  display: none;
}
.GoodDetail-btn__Send {
  background-color: #2e86de;
  display: none;
}
.GoodDetail-btn__Update {
  background-color: #2e86de;
  /* display: none; */
}
.GoodDetail-btn-back {
  text-decoration: none;
  background-color: #dedefc;
  padding: 2px 4px;
  border-radius: 4px;
}
#Goods-Detail-Table {
  border-collapse: collapse;
  width: 100%;
  /* padding: 88px; */
  /* border: 1px solid black; */
  margin: 38px 20px 20px 20px;
  overflow: hidden;
  overflow-x: scroll;
}

/* Table Good  detail*/
.List-Good-Detail {
  padding: 6px 14px 0px 14px;
  width: 100%;
  /* margin-left: -1px; */
  /* margin-top: 6px; */
  font-weight: 400;
}

.List-Good-Detail td {
  font-size: 14px;
  padding: 2.5px;
}
.List-Good-Detail tr td:last-child {
  text-align: right;
  width: 55px;
}
.List-Good-Detail tr:last-child {
  /* color: #f54d0f; */
  /* font-weight: bold; */
}
.GoodDetail-Info-Img {
  width: 240px;
  padding: 12px 17px;
}
.GoodDetail-Info-Img__label {
  font-weight: 400;
}
.GoodDetail-Info-Img__src {
  width: 98%;
  margin-top: 10px;
}
